<mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
        <a routerLink="/">OnlineTuts</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li ><a routerLink="/signup">Sign Up</a></li>
        <li ><a routerLink="/signin">Sign In</a></li>
        <li ><a routerLink="/students">Students</a></li>
        <li ><a routerLink="/courses">Courses</a></li>
      </ul>
     </div>
  </mat-toolbar>
  
