    <div class="welcome" fxLayout="column" fxFill fxLayoutAlign="space-around center" fxLayout.gt-sm="row" >
      <mat-card>
        <mat-card-title>Welcome to Online Tuts</mat-card-title> 
        <mat-card-subtitle>
          We concent students to the best courses online
        </mat-card-subtitle>
        <mat-card-content>
            <button class="button" mat-raised-button type="submit" color="primary" >
                Sign Up Now
            </button>
        </mat-card-content>
      </mat-card >
    </div>
    